# vim:ft=zsh
export EDITOR='nvim'
export PAGER='less --RAW-CONTROL-CHARS'
export FZF_DEFAULT_COMMAND='rg --files-with-matches ""'
export FZF_DEFAULT_OPTS='
    --color fg:-1,fg+:7,bg:-1,bg+:0,hl:4,hl+:-1
    --color info:-1,prompt:-1,spinner:-1,pointer:-1,marker:-1
    --no-separator
    --bind=ctrl-e:up
'

setopt histignorealldups incappendhistory sharehistory histreduceblanks histignorespace

{{- if (eq .chezmoi.os "linux") }}
export VAULT_ADDR='https://vault.linguee.internal'
export ANSIBLE_BECOME_ASK_PASS=False
export DEEPL_USER=nhzhssh
export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-bundle.crt

typeset -U fpath
fpath=(~/.zfunc $fpath)

setopt autocd
cdpath=($HOME/Work/Repos)
{{ end }}

DIRSTACKSIZE=8
setopt autopushd pushdminus pushdsilent pushdtohome

# Keep N lines of history within the shell and save it to ~/.zsh_history
HISTSIZE=16384
SAVEHIST=16384
HISTFILE=~/.local/share/zsh/history

{{- if (eq .chezmoi.os "linux") }}
export -TU LD_LIBRARY_PATH ldlibrarypath
ldlibrarypath=($ldlibrarypath /usr/local/lib)

export GOPATH=~/.local/share/go

path=(~/.local/bin $path)
path=(~/.cargo/bin $path)
path=($GOPATH/bin $path)
path=(~/.dotnet/tools $path)
path=(/home/linuxbrew/.linuxbrew/bin $path)
## path=($(pyenv root)/shims $path)

eval "$(dircolors ~/.dircolors)"
{{- else if (eq .chezmoi.os "darwin") }}
path=($HOMEBREW_PREFIX/opt/llvm/bin $path)

chflags nohidden ~/Library/
export CLICOLOR=1
export LSCOLORS='exfxcxdxbxegedabagacad'
typeset -U fpath
fpath=(/usr/share/zsh-completions $fpath)
chflags nohidden ~/Library
export LANG=en_US.UTF-8
{{ end }}

# Load color definition shortcuts
autoload -Uz colors && colors

## export PYENV_ROOT="$(pyenv root)"
## eval "$(pyenv init -)"

# Fix Poetry
export PYTHON_KEYRING_BACKEND=keyring.backends.fail.Keyring

[ -f ~/.config/zsh/aliases.zsh ] && source ~/.config/zsh/aliases.zsh
[ -f ~/.config/zsh/bindings.zsh ] && source ~/.config/zsh/bindings.zsh
[ -f ~/.config/zsh/completion.zsh ] && source ~/.config/zsh/completion.zsh
[ -f ~/.config/zsh/prompt.zsh ] && source ~/.config/zsh/prompt.zsh

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
[ -f ~/.pyenv.zsh ] && source ~/.pyenv.zsh
