font_family         Iosevka Custom Fixed Slab Medium
bold_font           Iosevka Custom Fixed Slab Semibold
italic_font         Iosevka Custom Fixed Slab Medium Italic
bold_italic_font    Iosevka Custom Fixed Slab Semibold Italic

{{- if (eq .chezmoi.os "darwin") }}
font_size 18.0

initial_window_width  100c
initial_window_height 42c
{{- else if (eq .chezmoi.os "linux") }}
font_size 14
initial_window_width  138c
initial_window_height 46c
{{- end }}

remember_window_size  no
disable_ligatures always

{{- $base03 := "#002732" }}
{{- $base02 := "#01313d" }}
{{- $base01 := "#60767d" }}
{{- $base00 := "#6c838a" }}
{{- $base0 := "#8b9c9d" }}
{{- $base1 := "#9ba9a9" }}
{{- $base2 := "#f7f0dd" }}
{{- $base3 := "#ffffeb" }}
{{- $yellow := "#be910d" }}
{{- $orange := "#d4541e" }}
{{- $red := "#e63c36" }}
{{- $magenta := "#dc3f8a" }}
{{- $violet := "#7478cd" }}
{{- $blue := "#3393da" }}
{{- $cyan := "#35aaa0" }}
{{- $green := "#8da100" }}

background {{ $base03 }}
foreground {{ $base0 }}

color8  {{ $base03 }}
color0  {{ $base02 }}
color10 {{ $base01 }}
color11 {{ $base00 }}
color12 {{ $base0 }}
color14 {{ $base1 }}
color7  {{ $base2 }}
color15 {{ $base3 }}
color3  {{ $yellow }}
color9  {{ $orange }}
color1  {{ $red }}
color5  {{ $magenta }}
color13 {{ $violet }}
color4  {{ $blue }}
color6  {{ $cyan }}
color2  {{ $green }}

active_border_color     {{ $yellow }}
inactive_border_color   {{ $yellow }}
bell_border_color       {{ $red }}
cursor                  {{ $base1 }}
cursor_text_color       background
selection_foreground    {{ $base03 }}
selection_background    {{ $base0 }}
active_tab_foreground   {{ $base03 }}
active_tab_background   {{ $base1 }}
inactive_tab_foreground {{ $base02 }}
inactive_tab_background {{ $base01 }}

window_border_width 0.5pt
draw_minimal_borders yes
hide_window_decorations no

tab_bar_style fade

{{- if eq .chezmoi.os "darwin" }}
shell /bin/zsh
editor /opt/homebrew/bin/nvim

resize_draw_strategy size
{{- else if eq .chezmoi.os "linux" }}
shell /usr/bin/zsh
editor /usr/bin/nvim

resize_draw_strategy static
{{- end }}

map cmd+ctrl+enter launch --location=vsplit
map cmd+shift+enter launch --location=hsplit

map cmd+h neighboring_window left
map cmd+l neighboring_window right
map cmd+k neighboring_window up
map cmd+j neighboring_window down

map cmd+shift+h move_window left
map cmd+shift+l move_window right
map cmd+shift+k move_window up
map cmd+shift+j move_window down

enabled_layouts splits
enable_audio_bell no

scrollback_lines 1000000

detect_urls no

{{- if (eq .chezmoi.os "linux") }}
map super+t new_tab
map super+w close_tab
{{- end }}

map super+ctrl+h previous_tab
map super+ctrl+l next_tab
map super+ctrl+t set_tab_title
map super+ctrl+. move_tab_forward
map super+ctrl+, move_tab_backward

# TODO: port to macOS
{{- if (eq .chezmoi.os "linux") }}
# kitty-scrollback.nvim Kitten alias
action_alias kitty_scrollback_nvim kitten /home/norman/.local/share/nvim/lazy/kitty-scrollback.nvim/python/kitty_scrollback_nvim.py
# Browse scrollback buffer in nvim
map kitty_mod+h kitty_scrollback_nvim
# Browse output of the last shell command in nvim
map kitty_mod+g kitty_scrollback_nvim --config ksb_builtin_last_cmd_output
# Show clicked command output in nvim
mouse_map ctrl+shift+right press ungrabbed combine : mouse_select_command_output : kitty_scrollback_nvim --config ksb_builtin_last_visited_cmd_output
{{- end }}
